body {
	background:#fff;
	border-top:6px solid #61ad3c;
	padding-top:70px;
	font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Verdana,Tahoma,sans-serif;
}

a {
	color:#eeaf04;
	text-decoration:none;
}

.clearfix::after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#logo {
	display:inline-block;
}

#logo .fruit {
	margin:0 5px -8px 0;
}

#logo .fruit:hover {
	opacity:0.6;
}

#intro {
	width:775px;
	margin:0 auto;
	text-align:center;
	color:#000;
	font-family:georgia;
}

#intro p {
	width:550px;
	line-height:180%;
	padding-top:50px;
	margin:0 auto 40px auto;
	font-size:18px;
}

#intro #downloadbutton {
	background-color:#eeaf04;
}

#intro #docsbutton,#intro #demobutton {
	background-color:#61ad3c;
}

#intro .button {
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	padding:6px 12px;
	margin:0 3px;
	color:#fff;

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;

	-moz-transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}

#intro .button:hover {
	color:#fff;
}

#intro p.version {
	padding-top:10px;
	font-size:13px;
}

#quotes {
	text-align:center;
	width:100%;
	background-color:#eef;
	margin-top:40px;
	padding-top:20px;
	padding-bottom:20px;
}

#quotes .inner {
	width:700px;
	margin:0 auto;
}

#quotes .help {
	float:left;
	padding-right:40px;
	border-right:1px solid gray;

	line-height:35px;
	text-align:left;
	color:#d2d8ba;
	font-size:11px;
	font-family:georgia;
}

#quotes .help h3 {
	font-size:18px;
	font-style:italic;
	font-weight:bold;
	padding-bottom:15px;
	color:#eee;
	display:none;
}

#quotes .help ul {
	list-style:disc;
	text-transform:uppercase;
	letter-spacing:1px;
	padding-top:50px;
}

#quotes .help ul a {
	color:#000;

	-moz-transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}

#quotes .help ul a:hover {
	color:#eeaf04;
}

#quotes .codes {
	float:left;
	border-left:1px solid gray;
	outline:none;
	margin-left:-1px;
	padding:0 0 0 50px;
	font-family:'Droid Sans Mono','Bitstream Vera Sans Mono','DejaVu Sans Mono',Monaco,Courier,monospace,courier new;
	font-family:Consolas,Inconsolata,'Bitstream Vera Sans Mono',Menlo, Monaco,'Andale Mono','Courier New',monospace;
	color:#000;
	font-size:11px;
	text-align:left;
	line-height:20px;
}

#quotes .codes h3 {
	font-weight:bold;
	padding-left:10px;
	margin-bottom:5px;
	color:#61ad3c;
}

#quotes .codes pre {
	margin:5px 0;
	padding-left:10px;
	border-left:1px dotted #43453b;
	font-family:Consolas,Inconsolata,'Bitstream Vera Sans Mono',Menlo, Monaco,'Andale Mono','Courier New',monospace;
}

#quotes .codes .render {
	background:#dee;
	color:#46483e;
	margin:15px 0;
	padding:3px 10px;

	-moz-transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}

#quotes .codes .render:hover {
	padding-left:30px;
}

#quotes .codes .render a {
	color:#46483e;
}

#quotes .codes .result {
	width:400px;
}

#footer {
	width:775px;
	margin:50px auto 30px;
	padding-top:15px;
	font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Verdana, Tahoma,sans-serif;
	text-align:center;
}

#github img {
    position:absolute;
    top:0;
    right:0;
    border:0;
}
